services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    ports:
      - "80:80"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 5s
      timeout: 3s
      retries: 5
