services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 5s
      timeout: 3s
      retries: 5

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    environment:
      - BASE_URL=http://app
      - CI=true
    depends_on:
      app:
        condition: service_healthy
    command: npx playwright test
